{%  extends 'layout.html.twig' %}

{% block content %}
    <!-- About Section
    ================================================== -->
    <section id="about">

        <div class="row">

            <div class="three columns">

                <img class="profile-pic"  src="../web/public/images/profilepic.jpg" alt="" />

            </div>

            <div class="nine columns main-col">

                <h2>{{ 'about.title'| trans}}</h2>

                <p>
                    {{ 'about.description'|trans|raw }}
                </p>

                <div class="row">

                    <div class="columns contact-details">

                        <h2>{{ 'about.contacts_details'| trans }}</h2>
                        <p class="address">
                            <span>Abdelffatteh CHEBIL</span><br>
                            <span>1 Rue de la Justice<br>
						         Epinay Sur Seine , 93800
                     </span><br>
                            <span>(+33) 6 59 11 62 71</span><br>
                            <span>chebil.abdelffatteh@gmail.com</span>
                            <span>contact@chebilabdelffatteh.com</span>
                        </p>

                    </div>

                    <div class="columns download">
                        <p>
                            <a href="../web/public/files/chebil_abdelffatteh.pdf" class="button"><i class="fa fa-download"></i>{{ 'about.download_cv'| trans }}</a>
                        </p>
                    </div>

                </div> <!-- end row -->

            </div> <!-- end .main-col -->

        </div>

    </section> <!-- About Section End-->
{%  endblock %}