{%  extends 'layout.html.twig' %}

{% block content %}

    <!-- Resume Section
    ================================================== -->
    <section id="education">

        <!-- Education
        ----------------------------------------------- -->
        <div class="row education">

            <div class="three columns header-col">
                <h1><span>Education</span></h1>
            </div>

            <div class="nine columns main-col">

                <div class="row item">

                    <div class="twelve columns">

                        <h3>Université de Lorraine</h3>
                        <p class="info">Master 2 Génie Informatique <span>&bull;</span> <em class="date">2011 - 2012</em></p>

                        <p>
                            Ce parcours vise à former des Professionnels à une double compétence :<br>
                            <img width="15" height="14" src="../web/public/images/item.gif" alt=""> Une maîtrise des outils et des concepts de base des domaines pointus de l’informatique dans le domaine du Génie Informatique
                            (le génie logiciel, la sécurité, les entrepôts de données et le développement mobile)<br>
                            <img width="15" height="14" src="../web/public/images/item.gif" alt=""> L’acquisition d’un savoir faire lié au monde de l’entreprise (le management industriel et social,
                            la création d’entreprise et le plan d’affaire, le marketing, l’environnement juridique et international).
                        </p>

                    </div>

                </div> <!-- item end -->

                <div class="row item">

                    <div class="twelve columns">

                        <h3>Université de Lorraine</h3>
                        <p class="info">Master 1  Informatique <span>&bull;</span> <em class="date">2010 - 2011</em></p>

                        <p>
                            Ce parcours vise à former des Professionnels à une double compétence :<br>
                            <img width="15" height="14" src="../web/public/images/item.gif" alt=""> Une maîtrise des outils et des concepts de base des domaines pointus de l’informatique dans le domaine du Génie Informatique
                            (le génie logiciel, la sécurité, les entrepôts de données et le développement mobile)<br>
                            <img width="15" height="14" src="../web/public/images/item.gif" alt=""> L’acquisition d’un savoir faire lié au monde de l’entreprise (le management industriel et social,
                            la création d’entreprise et le plan d’affaire, le marketing, l’environnement juridique et international).
                        </p>

                    </div>

                </div> <!-- item end -->


                <div class="row item">

                    <div class="twelve columns">

                        <h3>ISIMG - Tunisie</h3>
                        <p class="info">Maîtrise Info & Multimédia <span>&bull;</span> <em class="date">2005 - 2009</em></p>

                        <p>
                            Ce parcours vise à former  :<br>
                            <img width="15" height="14" src="../web/public/images/item.gif" alt=""> Compétences en informatique et applications (Informatique, multimédia, Web ) <br>
                            <img width="15" height="14" src="../web/public/images/item.gif" alt=""> Responsables de gestion des équipements et des réseaux informatiques. <br>
                            <img width="15" height="14" src="../web/public/images/item.gif" alt=""> Responsables de maintenance, de développement de programmes, de conception et de réalisation des sites web,
                            d'étude et d'installation d'équipements et de réseaux informatiques. <br>

                        </p>

                    </div>

                </div> <!-- item end -->
                <div class="row item">

                    <div class="twelve columns">

                        <h3>Lycée Mixte Mareth - Tunisie</h3>
                        <p class="info">Baccalauréat mathématique<span>&bull;</span> <em class="date">2005</em></p>
                        <img width="15" height="14" src="../web/public/images/item.gif" alt=""> Baccalauréat Mathématique avec mention <strong> Très Bien</strong>
                        <p>
                        </p>

                    </div>

                </div> <!-- item end -->

            </div> <!-- main-col end -->

        </div> <!-- End Education -->

    </section> <!-- Resume Section End-->


{%  endblock %}