{%  extends 'layout.html.twig' %}

{% block content %}

    <!-- Resume Section
    ================================================== -->
    <section id="resume">

        <!-- Education
        ----------------------------------------------- -->
        <div class="row education">

            <div class="three columns header-col">
                <h1><span>Education</span></h1>
            </div>

            <div class="nine columns main-col">

                <div class="row item">

                    <div class="twelve columns">

                        <h3>Université de Lorraine</h3>
                        <p class="info">Master 2 Génie Informatique <span>&bull;</span> <em class="date">Septembre 2012</em></p>

                        <p>
                            Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa.
                            Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis,
                            ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim.
                            Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. Nullam dictum felis eu pede mollis pretium.
                        </p>

                    </div>

                </div> <!-- item end -->

                <div class="row item">

                    <div class="twelve columns">

                        <h3>Université de Lorraine</h3>
                        <p class="info">Master 1 Informatique <span>&bull;</span> <em class="date">Septembre 2011</em></p>

                        <p>
                            Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa.
                            Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis,
                            ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim.
                            Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. Nullam dictum felis eu pede mollis pretium.
                        </p>

                    </div>

                </div> <!-- item end -->

                <div class="row item">

                    <div class="twelve columns">

                        <h3>ISIMG - Tunisie</h3>
                        <p class="info">Maîtrise Info & Multimédia <span>&bull;</span> <em class="date">Septembre 2009</em></p>

                        <p>
                            Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa.
                            Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis,
                            ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim.
                            Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. Nullam dictum felis eu pede mollis pretium.
                        </p>

                    </div>

                </div> <!-- item end -->
                <div class="row item">

                    <div class="twelve columns">

                        <h3>Lycée Mixte Mareth - Tunisie</h3>
                        <p class="info">Baccalauréat mathématique<span>&bull;</span> <em class="date">Juin 2005</em></p>

                        <p>
                            Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa.
                            Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis,
                            ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim.
                            Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. Nullam dictum felis eu pede mollis pretium.
                        </p>

                    </div>

                </div> <!-- item end -->

            </div> <!-- main-col end -->

        </div> <!-- End Education -->

    </section> <!-- Resume Section End-->


{%  endblock %}