{%  extends 'layout.html.twig' %}

{% block content %}

    <!-- Resume Section
    ================================================== -->
    <section id="education">

        <!-- Education
        ----------------------------------------------- -->
        <div class="row education">

            <div class="three columns header-col">
                <h1><span>Education</span></h1>
            </div>

            <div class="nine columns main-col">

                <div class="row item">

                    <div class="twelve columns">

                        <h3>University of Lorraine</h3>
                        <p class="info">Master 2 Computer Engineering <span>&bull;</span> <em class="date">2011 - 2012</em></p>

                        <p>
                            This course aims to train professionals with a double competence:<br>
                            <img width="15" height="14" src="../web/public/images/item.gif" alt=""> A mastery of the basic tools and concepts of the sharp domains of computer science in the field of Computer Engineering (software engineering, security, data warehouses and mobile development)<br>
                            <img width="15" height="14" src="../web/public/images/item.gif" alt=""> The acquisition of know-how related to the business world (industrial and social management, business creation and business plan, marketing, legal and international environment).
                        </p>

                    </div>

                </div> <!-- item end -->

                <div class="row item">

                    <div class="twelve columns">

                        <h3>University of Lorraine</h3>
                        <p class="info">Master 1 Computer Engineering<span>&bull;</span> <em class="date">2010 - 2011</em></p>

                        <p>
                            This course aims to train professionals with a double competence:<br>
                            <img width="15" height="14" src="../web/public/images/item.gif" alt=""> A mastery of the basic tools and concepts of the sharp domains of computer science in the field of Computer Engineering (software engineering, security, data warehouses and mobile development)<br>
                            <img width="15" height="14" src="../web/public/images/item.gif" alt=""> The acquisition of know-how related to the business world (industrial and social management, business creation and business plan, marketing, legal and international environment).
                        </p>

                    </div>

                </div> <!-- item end -->


                <div class="row item">

                    <div class="twelve columns">

                        <h3>ISIMG - Tunisia</h3>
                        <p class="info">Master of Computer Science and Multimedia<span>&bull;</span> <em class="date">2005 - 2009</em></p>

                        <p>
                            This course aims to train:<br>
                            <img width="15" height="14" src="../web/public/images/item.gif" alt=""> Computing skills and applications (IT, Multimedia, Web)<br>
                            <img width="15" height="14" src="../web/public/images/item.gif" alt=""> Managers of equipment and computer networks.<br>
                            <img width="15" height="14" src="../web/public/images/item.gif" alt=""> Responsible for maintenance, development of programs, design and realization of web sites, study and installation of equipment and computer networks. <br>

                        </p>

                    </div>

                </div> <!-- item end -->
                <div class="row item">

                    <div class="twelve columns">

                        <h3>Lycée Mixte Mareth - Tunisia</h3>
                        <p class="info">Bachelor's degree in mathematics<span>&bull;</span> <em class="date">2005</em></p>
                        <img width="15" height="14" src="../web/public/images/item.gif" alt=""> Baccalauréat Mathematics with <strong>honors</strong>
                        <p>
                        </p>

                    </div>

                </div> <!-- item end -->

            </div> <!-- main-col end -->

        </div> <!-- End Education -->

    </section> <!-- Resume Section End-->


{%  endblock %}