{%  extends 'layout.html.twig' %}

{% block content %}

    <!-- Resume Section
    ================================================== -->
    <section id="experiences">

        <!-- Work
        ----------------------------------------------- -->
        <div class="row work">

            <div class="three columns header-col">
                <h1><span>Work</span></h1>
            </div>

            <div class="nine columns main-col">

                <div class="row item">

                    <div class="twelve columns">

                        <h3>Fullsix Group</h3>
                        <p class="info">PHP Engineer  <span>&bull;</span> <em class="date">January 2015 - Present</em></p>

                        <p>
                            <img width="15" height="14" src="../web/public/images/item.gif" alt="">  Development of Websites of Grand Compte in Symfony and Drupal 7 (Générale de Santé, Bricomarché, OuiGo, FFC, AirFranceSaga, orange) </br>
                            <img width="15" height="14" src="../web/public/images/item.gif" alt="">  Development of API REST for Mobile Applications (YUGE PARADISKI, BAYER NOUNOUCONNECT)</br>
                            <img width="15" height="14" src="../web/public/images/item.gif" alt="">  DMP Fullsix Product: Data Management Process is a Tracking, Segmenter & Re- targeting Solution that managed Big & Mass Data from websites & mobiles </br>
                        </p>


                    </div>

                </div> <!-- item end -->

                <div class="row item">

                    <div class="twelve columns">

                        <h3>MOZOO GROUP</h3>
                        <p class="info">PHP Developer<span>&bull;</span> <em class="date">September 2012 - December 2014</em></p>

                        <p>
                            Ad Server fort Traffic + 10M/jour (2013-2014) </br> </br>
                            <img width="15" height="14" src="../web/public/images/item.gif" alt="">  Redesign and development of Web Services</br>
                            <img width="15" height="14" src="../web/public/images/item.gif" alt="">  Improvement of the server infrastructure in collaboration with an information management company </br>
                            <img width="15" height="14" src="../web/public/images/item.gif" alt="">  Monitoring script (functional tests) </br>
                            <img width="15" height="14" src="../web/public/images/item.gif" alt="">  Code Optimization (Response Time + Benchmark) </br>
                            <img width="15" height="14" src="../web/public/images/item.gif" alt="">  Development of VAST modules, Back filler </br>
                            <img width="15" height="14" src="../web/public/images/item.gif" alt="">  Development of the new back office (Zend Framework) </br>
                            <img width="15" height="14" src="../web/public/images/item.gif" alt="">  Development of new targets (Targeting Météo, Targeting Connexion, Targeting Geolocalization ...)</br>
                        </p>
                        <p>
                            AppliPrivee /  AppXpert (2012-2014) </br> </br>
                            <img width="15" height="14" src="../web/public/images/item.gif" alt="">  Development and design of the new database </br>
                            <img width="15" height="14" src="../web/public/images/item.gif" alt="">  Data Migration Private Appl + AppXpert to the new database </br>
                            <img width="15" height="14" src="../web/public/images/item.gif" alt="">  Development and design of Web services for mobile applications (Zend Framework)</br>
                            <img width="15" height="14" src="../web/public/images/item.gif" alt="">  Redesign and development of Android and Ios push scripts </br>
                            <img width="15" height="14" src="../web/public/images/item.gif" alt="">  Redesign and development of the bank transfer system (SEPA transfer) </br>
                        </p>

                    </div>

                </div> <!-- item end -->

                <div class="row item">

                    <div class="twelve columns">

                        <h3>MOZOO GROUP</h3>
                        <p class="info">Web Development Trainee<span>&bull;</span> <em class="date">September 2011 - September 2012</em></p>

                        <p>
                            <img width="15" height="14" src="../web/public/images/item.gif" alt="">  Development of the new backoffice (CodeIgniter + crud JS) </br>
                            <img width="15" height="14" src="../web/public/images/item.gif" alt="">  Creation Cron for various processes (Crontab) </br>
                            <img width="15" height="14" src="../web/public/images/item.gif" alt="">  Developing of Push Notification Platform </br>
                            <img width="15" height="14" src="../web/public/images/item.gif" alt="">  Implementation of Tracking StoS </br>
                        </p>

                    </div>

                </div> <!-- item end -->

            </div> <!-- main-col end -->

        </div> <!-- End Work -->

    </section> <!-- Resume Section End-->


{%  endblock %}