{%  extends 'layout.html.twig' %}

{% block content %}

    <!-- Resume Section
    ================================================== -->
    <section id="resume">

        <!-- Work
        ----------------------------------------------- -->
        <div class="row work">

            <div class="three columns header-col">
                <h1><span>Work</span></h1>
            </div>

            <div class="nine columns main-col">

                <div class="row item">

                    <div class="twelve columns">

                        <h3>Fullsix Group</h3>
                        <p class="info">Ingénieur PHP Confirmé <span>&bull;</span> <em class="date">Janvier 2015 - Present</em></p>

                        <p>
                            ❖ Développement De Sites Web de Grand Compte en Symfony et Drupal 7 (Générale de Santé, Bricomarché, OuiGo, FFC, AirFranceSaga,orange) </br>
                            ❖ Développement API REST pour des Applications Mobiles ( YUGE PARADISKI, BAYER NOUNOUCONNECT) </br>
                            ❖ DMP Fullsix Product: Data Management Process is a Tracking, Segmenter & Re- targeting Solution that managed Big & Mass Data from website & mobile </br>
                        </p>


                    </div>

                </div> <!-- item end -->

                <div class="row item">

                    <div class="twelve columns">

                        <h3>MOZOO GROUP</h3>
                        <p class="info">Développeur PHP <span>&bull;</span> <em class="date">Septembre 2012 - Décembre 2014</em></p>

                        <p>
                            Ad Server fort Traffic + 10M/jour (2013-2014)
                            ❖ Refonte et développement des Web Services </br>
                            ❖ Amélioration de  l'infrastructure server en collaboration avec une société d'info-gérance </br>
                            ❖ Script de monitoring (tests fonctionnels) </br>
                            ❖ Optimisation de code (Temps de réponse + Benchmark) </br>
                            ❖ Développement des modules VAST, Back filler </br>
                            ❖ Développement du nouveau backoffice (Zend Framework) </br>
                            ❖ Développement de nouveaux ciblages (Targeting Météo, Targeting Connexion,Targeting Géolocalisation...) </br>
                        </p>
                        <p>
                            AppliPrivee /  AppXpert (2012-2014)
                            ❖ Développement et conception de la nouvelle base de données </br>
                            ❖ Migration de données Appli privée + AppXpert vers la nouvelle base de donnée </br>
                            ❖ Développement et conception de Web services pour applications iPhone (Zend Framework) </br>
                            ❖ Refonte et de développement de scripts de push Android et Ios </br>
                            ❖ Refonte et développement du système de virement bancaire (virement SEPA) </br>
                        </p>

                    </div>

                </div> <!-- item end -->

                <div class="row item">

                    <div class="twelve columns">

                        <h3>MOZOO GROUP</h3>
                        <p class="info">Stagiaire Développeur<span>&bull;</span> <em class="date">Septembre 2011 - Septembre 2012</em></p>

                        <p>
                            ❖ Développement du nouveau backoffice (CodeIgniter + crud JS) </br>
                            ❖ Création de script pour divers traitements (Crontab) </br>
                            ❖ Développement d'une Plateforme de notification De push </br>
                            ❖ Implémentation de Tracking StoS </br>
                        </p>

                    </div>

                </div> <!-- item end -->

            </div> <!-- main-col end -->

        </div> <!-- End Work -->

    </section> <!-- Resume Section End-->


{%  endblock %}