<!-- footer
   ================================================== -->
<footer>

    <div class="row">

        <div class="twelve columns">

            <ul class="social-links">
                <li><a href="https://www.facebook.com/generalchbil"><i class="fa fa-facebook"></i></a></li>
                <li><a href="https://plus.google.com/104401326840613034388"><i class="fa fa-google-plus"></i></a></li>
                <li><a href="https://www.linkedin.com/in/abdelffatteh-chebil-b945672a/"><i class="fa fa-linkedin"></i></a></li>
                <li><a href="#"><i class="fa fa-skype"></i></a></li>
            </ul>
        </div>

        <div id="go-top"><a class="smoothscroll" title="Back to Top" href="/{{ app.request.getLocale() }}"><i class="icon-up-open"></i></a></div>

    </div>

</footer> <!-- Footer End-->