<head>

    <!--- Basic Page Needs
    ================================================== -->
    <meta charset="utf-8">
    <title>Abdelffatteh Chebil</title>
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Mobile Specific Metas
    ================================================== -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <!-- CSS
    ================================================== -->
    <link rel="stylesheet" href="web/public/css/default.css">
    <link rel="stylesheet" href="web/public/css/layout.css">
    <link rel="stylesheet" href="web/public/css/media-queries.css">
    <link rel="stylesheet" href="web/public/css/magnific-popup.css">

    <!-- Script
    ================================================== -->
    <script src="web/public/js/modernizr.js"></script>

    <!-- Favicons
     ================================================== -->
    <link rel="shortcut icon" href="favicon.png" >

</head>