{%  extends 'layout.html.twig' %}

{% block content %}

    <!-- Resume Section
    ================================================== -->
    <section id="skills">

        <!-- Skills
        ----------------------------------------------- -->
        <div class="row skill">

            <div class="three columns header-col">
                <h1><span>Skills</span></h1>
            </div>

            <div class="nine columns main-col">

                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum
                </p>

                <div class="bars">

                    <ul class="skills">
                        <li><span class="bar-expand photoshop"></span><em>Photoshop</em></li>
                        <li><span class="bar-expand illustrator"></span><em>Illustrator</em></li>
                        <li><span class="bar-expand wordpress"></span><em>Wordpress</em></li>
                        <li><span class="bar-expand css"></span><em>CSS</em></li>
                        <li><span class="bar-expand html5"></span><em>HTML5</em></li>
                        <li><span class="bar-expand jquery"></span><em>jQuery</em></li>
                    </ul>

                </div><!-- end skill-bars -->

            </div> <!-- main-col end -->

        </div> <!-- End skills -->

    </section> <!-- Resume Section End-->


{%  endblock %}