{%  extends 'layout.html.twig' %}

{% block content %}

    <!-- Resume Section
    ================================================== -->
    <section id="skills">

        <!-- Skills
        ----------------------------------------------- -->
        <div class="row skill">

            <div class="three columns header-col">
                <h1><span>Skills</span></h1>
            </div>

            <div class="nine columns main-col">

                <p>
                    {{ 'skills.message'|trans|raw }}
                </p>

                <div class="bars">

                    <ul class="skills">
                        <li><span class="bar-expand php"></span><em>PHP</em></li>
                        <li><span class="bar-expand symfony"></span><em>Symfony</em></li>
                        <li><span class="bar-expand drupal"></span><em>Drupal 7 && 8</em></li>
                        <li><span class="bar-expand drupal"></span><em>ORM (Mysql,Postgres,NoSql)</em></li>
                        <li><span class="bar-expand php"></span><em>Git && Scrum</em></li>
                        <li><span class="bar-expand wordpress"></span><em>Wordpress</em></li>
                        <li><span class="bar-expand html5"></span><em>Javascript</em></li>
                        <li><span class="bar-expand jquery"></span><em>jQuery</em></li>
                        <li><span class="bar-expand html5"></span><em>HTML5</em></li>
                        <li><span class="bar-expand css"></span><em>CSS</em></li>
                    </ul>

                </div><!-- end skill-bars -->

            </div> <!-- main-col end -->

        </div> <!-- End skills -->

    </section> <!-- Resume Section End-->


{%  endblock %}